<h3 align="right" style="color: #4cd137">فراخوانی کتابخانه ها</h3>

In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

<h3 align="right" style="color: #4cd137">متصل کردن دیتاست</h3>

In [2]:
df = pd.read_csv("./data/marketing.csv")

<h3 align="right" style="color: #4cd137">مشاهده شناسنامه</h3>

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2010 entries, 0 to 2009
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CustomerID           2010 non-null   int64
 1   Age                  2010 non-null   int64
 2   Gender               2010 non-null   object
 3   Income               1931 non-null   float64
 4   CampaignChannel      1856 non-null   object
 5   CampaignType         2010 non-null   object
 6   AdSpend              2010 non-null   object
 7   ClickThroughRate     2010 non-null   float64
 8   ConversionRate       2010 non-null   float64
 9   WebsiteVisits        2010 non-null   int64
 10  PagesPerVisit        2010 non-null   float64
 11  TimeOnSite           1931 non-null   float64
 12  SocialShares         2010 non-null   int64
 13  EmailOpens           2010 non-null   int64
 14  EmailClicks          2010 non-null   int64
 15  PreviousPurchases    2010 non-null   int64
 16  LoyaltyPoints        2010 non-null   int64
 17  AdvertisingPlatform  2010 non-null   object
 18  AdvertisingTool      2010 non-null   object
 19  Conversion           2010 non-null   int64
dtypes: float64(5), int64(9), object(6)
memory usage: 314.2+ KB

<h3 align="right" style="color: #ff6b35">توضیحات ستون ها + مشخص کردن نوع داده ها</h3>

| #  | Column                | dtype    | نوع کلی    | توضیحات     |
|----|-----------------------|----------|-------------|-------------|
| 0  | CustomerID            | int64    | عدد صحیح   | شناسه مشتری |
| 1  | Age                   | int64    | عدد صحیح   | سن مشتری |
| 2  | Gender                | object   | متنی       | جنسیت مشتری |
| 3  | Income                | float64  | عدد اعشاری | سطح درآمد سالیانه |
| 4  | CampaignChannel       | object   | متنی       | کانال کمپین |
| 5  | CampaignType          | object   | متنی       | نوع کمپین |
| 6  | AdSpend               | object   | متنی       | هزینه تبلیغات به دلار |
| 7  | ClickThroughRate      | float64  | عدد اعشاری | نرخ کلیک |
| 8  | ConversionRate        | float64  | عدد اعشاری | نرخ تبدیل |
| 9  | WebsiteVisits         | int64    | عدد صحیح   | بازدید سایت |
| 10 | PagesPerVisit         | float64  | عدد اعشاری | صفحات دیده شده در هر بازدید |
| 11 | TimeOnSite            | float64  | عدد اعشاری | مدت زمان ماندن کاربر در هر سایت |
| 12 | SocialShares          | int64    | عدد صحیح   | تعداد اشتراک گذاری در شبکه های اجتماعی |
| 13 | EmailOpens            | int64    | عدد صحیح   | تعداد دفعات باز کردن ایمیل |
| 14 | EmailClicks           | int64    | عدد صحیح   | تعداد کلیک های داخل ایمیل |
| 15 | PreviousPurchases     | int64    | عدد صحیح   | تعداد خریدهای قبلی |
| 16 | LoyaltyPoints         | int64    | عدد صحیح   | امتیاز وفاداری |
| 17 | AdvertisingPlatform   | object   | متنی       | پلتفرم تبلیغاتی |
| 18 | AdvertisingTool       | object   | متنی       | ابزار تبلیغاتی |
| 19 | Conversion            | int64    | عدد صحیح   | تبدیل |

<h3 align="right" style="color: #D980FA">تعداد سطرها: 2010 / تعداد ستون ها: 20</h3>

In [3]:
df.shape

(2010, 20)

<h3 align="right" style="color: #ff6b35">نام ستون ها</h3>

In [4]:
df.columns

Index(['CustomerID', 'Age', 'Gender', 'Income', 'CampaignChannel',
       'CampaignType', 'AdSpend', 'ClickThroughRate', 'ConversionRate',
       'WebsiteVisits', 'PagesPerVisit', 'TimeOnSite', 'SocialShares',
       'EmailOpens', 'EmailClicks', 'PreviousPurchases', 'LoyaltyPoints',
       'AdvertisingPlatform', 'AdvertisingTool', 'Conversion'],
      dtype='object')

<h3 align="right" style="color: #ff6b35">برای ستون های عددی min و max بررسی</h3>

In [ ]:
columns = ['CustomerID', 'Age', 'Income', 'AdSpend', 'ClickThroughRate',
        'ConversionRate', 'WebsiteVisits', 'PagesPerVisit', 'TimeOnSite',
        'SocialShares', 'EmailOpens', 'EmailClicks', 'PreviousPurchases',
        'LoyaltyPoints']

max_len = max(len(col) for col in columns)

for col in columns:
    max_value = df[col].max()
    min_value = df[col].min()
    print(f"{col.ljust(max_len)} => max: {str(max_value).ljust(20)} min: {str(min_value).ljust(20)}")

CustomerID        => max: 15997                min: 8003
Age               => max: 69                   min: 18
Income            => max: 1470150.0            min: 20014.0
AdSpend           => max: 9997.347634527156    min: $1,052.38
ClickThroughRate  => max: 0.2995574238875879   min: 0.0105138658830772
ConversionRate    => max: 0.1999947079999166   min: 0.0100590923804721
WebsiteVisits     => max: 49                   min: 0
PagesPerVisit     => max: 9.997133812436507    min: 1.0018824369965649
TimeOnSite        => max: 14.992795171058455   min: 0.5016840268710625
SocialShares      => max: 99                   min: 0
EmailOpens        => max: 19                   min: 0
EmailClicks       => max: 32                   min: 0
PreviousPurchases => max: 9                    min: 0
LoyaltyPoints     => max: 4999                 min: 1

<h3 align="right" style="color: #D980FA">پیدا کردن طولانی ترین نام ستون : max_len</h3>
<h3 align="right" style="color: #D980FA">.می‌باشد left-justify (تراز چپ) مخفف ljust تابع</h3>
<hr>
<h3 align="right" style="color: #ff6b35">بررسی مقادیر یکتا در ستون های غیر عددی</h3>

In [8]:
columns = ['Gender', 'CampaignChannel', 'CampaignType',
           'AdvertisingPlatform', 'AdvertisingTool']

max_len = max(len(col) for col in columns)

for col in columns:
    unique_values = df[col].unique()
    print(f"{col.ljust(max_len)} : {unique_values}")

Gender              : ['Female' 'Male']
CampaignChannel     : ['Email' 'Referral' 'Social Media' 'PPC' 'SEO' 'email' nan]
CampaignType        : ['Consideration' 'Awareness' 'Retention' 'Conversion']
AdvertisingPlatform : ['IsConfid']
AdvertisingTool     : ['ToolConfid']

<h3 align="right" style="color: #ff6b35">بررسی و چاپ می‌کنیم DataFrame توزیع مقادیر (فراوانی هر دسته) رو برای سه ستون خاص در</h3>

In [9]:
cols = ['Gender', 'CampaignChannel', 'CampaignType']

for col in cols:
    print(df[col].value_counts(dropna=False))
    print(30 * '-')

Gender
Female    1223
Male       787
Name: count, dtype: int64
------------------------------
CampaignChannel
PPC             422
Referral        404
Social Media    343
SEO             334
Email           247
NaN             154
email           106
Name: count, dtype: int64
------------------------------
CampaignType
Conversion       539
Consideration    502
Retention        490
Awareness        479
Name: count, dtype: int64
------------------------------

<h3 align="right"  style="color: #D980FA">با این دستور تعداد تکرار هر مقدار منحصرفرد در ستون رو محاسبه میکنیم : value.counts()</h3>

<h3 align="right"  style="color: #D980FA">بطور پیش فرض دستور بالا مقادیر گمشده رو نادیده میگیره پس برای اینکه شمارش بشن  : dropna</h3>

<h3 align="right"  style="color: #D980FA">قرار میدهیم False مقدار بالا رو برابر با</h3>

<hr>

<h3 align="right"  style="color: #ff6b35">آمار توصیفی پایه برای ستون های عددی</h3>

In [14]:
df.describe(include=['int64', 'float64'])

         CustomerID          Age  ...  LoyaltyPoints   Conversion
count   2010.000000  2010.000000  ...    2010.000000  2010.000000
mean   11987.962687    43.010448  ...    2520.113433     0.876617
std     2322.660774    14.740003  ...    1435.928358     0.328958
min     8003.000000    18.000000  ...       1.000000     0.000000
25%     9927.000000    30.000000  ...    1287.000000     1.000000
50%    12048.500000    43.000000  ...    2527.500000     1.000000
75%    13983.250000    55.000000  ...    3752.000000     1.000000
max    15997.000000    69.000000  ...    4999.000000     1.000000

[8 rows x 14 columns]

<h3 align="right"  style="color: #ff6b35">برای هر ستون Missing Value تعداد</h3>

In [4]:
df.isna().sum()

CustomerID               0
Age                      0
Gender                   0
Income                  79
CampaignChannel        154
CampaignType             0
AdSpend                  0
ClickThroughRate         0
ConversionRate           0
WebsiteVisits            0
PagesPerVisit            0
TimeOnSite              79
SocialShares             0
EmailOpens               0
EmailClicks              0
PreviousPurchases        0
LoyaltyPoints            0
AdvertisingPlatform      0
AdvertisingTool          0
Conversion               0
dtype: int64

<h3 align="right"  style="color: #ff6b35">مشاهده چند سطر اول</h3>

In [5]:
df.head()

,CustomerID,Age,Gender,Income,CampaignChannel,CampaignType,AdSpend,ClickThroughRate,ConversionRate,WebsiteVisits,PagesPerVisit,TimeOnSite,SocialShares,EmailOpens,EmailClicks,PreviousPurchases,LoyaltyPoints,AdvertisingPlatform,AdvertisingTool,Conversion
0,13300,36,Female,47648.0,Email,Consideration,893.7554921892273,0.132078,0.198063,38,6.900081,11.923316,9,3,6,1,1139,IsConfid,ToolConfid,1
1,10429,32,Female,47491.0,Email,Consideration,7330.251375088103,0.120810,0.088416,27,4.589390,NaN,33,0,2,4,3772,IsConfid,ToolConfid,1
2,10557,52,Male,83830.0,Referral,Awareness,7720.360685483039,0.125472,0.082197,35,7.403157,0.660581,29,1,3,0,3611,IsConfid,ToolConfid,1
3,12602,52,Male,116342.0,Social Media,Consideration,8337.45315727269,0.158739,0.089032,25,9.367090,12.218421,72,3,7,4,1173,IsConfid,ToolConfid,1
4,8592,58,Female,90994.0,Email,Retention,5273.098832292671,0.226054,0.099792,13,7.968767,4.894079,41,16,7,0,1102,IsConfid,ToolConfid,1